<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>3ED3EC5B-9288-43B1-8009-0533D035BEDA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Stackoverflow</string>
			<key>url</key>
			<string>http://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>46D899F3-FFD1-4F0A-9585-9BB62F173304</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ableton?</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>ableton help</string>
			<key>url</key>
			<string>https://www.ableton.com/en/help/search/?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
