<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.google.fallback</string>
		<string>11F0317D-BA3E-4674-BDC0-EB5A21092114</string>
		<string>features.websearch.custom.3ED3EC5B-9288-43B1-8009-0533D035BEDA.fallback</string>
	</array>
</dict>
</plist>
